<!DOCTYPE html>
<html>
<head>
    <meta charset="gbk" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{$theme_root}/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="{$theme_root}/css/common.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>   
    <title>{$title}</title>
    {literal}
    <script type="text/javascript" >
    function toModify(id)
    {
    	window.location.href="category.php?act=modify&id=" + id;
    }
    function toDelete(id)
    {
    	if( confirm("是否真的要删除？(如果删除根分类会级联删除子分类)") )
    	{
    		window.location.href="category.php?act=delete&id=" + id;
    	}
    }
    </script>
    {/literal}
</head>
<body>
{include file="header.html"}
<div class="container">

    <h1 class="text-success">支出分类
    <a class="btn btn-success" href="category.php?act=add">新建分类</a>
    </h1>
    
    <table class="table small border">
    <thead>
    <tr>
     <th scope="col">分类</th>
      <th scope="col">分类名</th>
      <th scope="col">说明</th>
      <th scope="col">每月计划</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {if count($categories.pay) == 0}
        <tr>
        <td colspan="5">
                        还没有收入分类哦
        <a class="btn btn-success" href="category.php?act=add">新建分类</a>
        </td>
        </tr>
    {else}
    {foreach from=$categories.pay item=cate}
    {foreach from=$cate item=cat}
    <tr>
    <td>{$cat.cat_id}</td>
    {if $cat.parent == 0 }
      <td><b>{$cat.name}</b></th>
    {else}
      <td>&nbsp;&nbsp;{$cat.name}</th>
    {/if}
      <td>{$cat.description}</td>
      <td>{$cat.cost_limit}</td>
      <td>
      <button onclick=toModify({$cat.cat_id}) class="btn btn-success">编辑</button>
      <button onclick=toDelete({$cat.cat_id}) class="btn btn-success">删除</button>
      </td>
    </tr>
    {/foreach}
    {/foreach}
    {/if}
  </tbody>
</table>

    <h1 class="text-success">收入分类</h1>
    <table class="table small border">
    <thead>
    <tr>
     <th scope="col">分类id</th>
      <th scope="col">分类名</th>
      <th scope="col">说明</th>
      <th scope="col">每月计划</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {if count($categories.earn) == 0}
        <tr>
        <td colspan=5>
                        还没有收入分类哦
        <a class="btn btn-success" href="category.php?act=add">新建分类</a>
        </td>
        </tr>
    {else}
    {foreach from=$categories.earn item=cate}
    {foreach from=$cate item=cat}
    <tr>
    <td>{$cat.cat_id}</td>
    {if $cat.parent == 0 }
      <td><b>{$cat.name}</b></th>
    {else}
      <td>&nbsp;&nbsp;{$cat.name}</th>
    {/if}
      <td>{$cat.description}</td>
      <td>{$cat.cost_limit}</td>
      
      <td>
      <button onclick=toModify({$cat.cat_id}) class="btn btn-success">编辑</button>
      <button onclick=toDelete({$cat.cat_id}) class="btn btn-success">删除</button>
      </td>
    </tr>
    {/foreach}
    {/foreach}
    {/if}
  </tbody>
</table>      
    </div>
    
    {include file="bottom.html"}
</body>

</html>