<!DOCTYPE html>
<html>
<head>
    <meta charset="gbk" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{$theme_root}/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="{$theme_root}/css/common.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    <title>{$title}</title>
</head>
<body>
{include file="header.html"}
<div class="container-fluid">
<div class="row">       
    <main role="main" class="ml-sm-auto col-sm-10">
    <h1>支出分类</h1>
    <table class="table">
    <thead>
    <tr>
      <th scope="col">分类名</th>
      <th scope="col">说明</th>
      <th scope="col">上级分类</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {foreach from=$categories item=cate}
    <tr>
      <td>{$cate.name}</th>
      <td>{$cate.description}</td>
      <td>{$cate.parent}</td>
      <td>@mdo</td>
    </tr>
    {/foreach}
  </tbody>
</table>      
    </main>
    </div>
    </div>
    
    {include file="bottom.html"}
</body>

</html>