<!DOCTYPE html>
<html>
<head>
    <meta charset="gbk" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{$theme_root}/css/common.css" />
    <link rel="stylesheet" type="text/css" href="{$theme_root}/css/dashboard.css" />
    <link rel="stylesheet" href="{$theme_root}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{$theme_root}/css/jquery-ui.css" />
    <script src="{$theme_root}/js/jquery-3.2.1.slim.min.js"></script>
    <script src="{$theme_root}/js/bootstrap.min.js" ></script>
    <script src="{$theme_root}/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="{$theme_root}/js/jquery-ui.js" type="text/javascript"></script>  
    
    <title>{$title}</title>
    {literal}
    <script type="text/javascript" >
function getCategory()
    {
        $.post("category.php",
                {act:"GetCategory", method:"ajax",
                type:$("#type").val()},
                function (data, textStatus){
                    $("#category").empty();
                    $("#category").append("<option value='0'>作为顶级分类</option>");
                    
                    for(var key in data)
                    {
                        for(var i = 0; i <data[key].length; ++i)
                        {
                            
                            if( data[key][i].parent == "0" )
                            {
                                $("#category").append("<option value='" + data[key][i].cat_id +"'>" + data[key][i].cat_name + "</option>");
                            }
                            else    
                            {
                                $("#category").append("<option value='" + data[key][i].cat_id +"'>&nbsp;&nbsp;" + data[key][i].cat_name + "</option>");
                            }
                        }
                        
                        
                    }
                },"json")
    }
    
    function beforSubmit()
    {
        var timestr = document.getElementById("date_str").value;
        document.getElementById("date").value = Date.parse(timestr) / 1000;
    }
    
    $( function() {
        $( "#date_str" ).datepicker({dateFormat:"yy-mm-dd" });
      } );
</script>
{/literal}  
    
  
</head>
<body>
{include file="header.html"}
<div class="container-fluid">
<div class="row">
<div class='container' style="max-width:800px;margin-top:50px">
  <!-- 为了复用html文件，此处根据act做不同展现 -->
  {if $act == 'add'}  
  <h2>新增记录</h2> 
  <form action="cash.php" method="post" onsubmit="beforSubmit()">    
  <div class="form-group">
    <label for="type">类型</label>
    <select class="form-control" id="type" name="type" onchange="getCategory()">
      <option value="0" selected = "selected">支出</option>
      <option value="1">收入</option>
    </select>
  </div>
  <div class="form-group">
    <label for="parent">支出分类</label>
    <select class="form-control" name="category" id="category">
    
    {foreach from=$categories item=cat}
        {foreach from=$cat item = itm}
            {if $itm.parent == 0}
                <option value="{$itm.cat_id}">{$itm.cat_name}</option>
            {else}
                <option value="{$itm.cat_id}">&nbsp;&nbsp;{$itm.cat_name}</option>
            {/if}
            
        {/foreach}
    {/foreach}
    </select>
  </div>
  
  <div class="form-group">
    <label for="name">日期</label>
    <input type="text" class="form-control" name="date_str" id="date_str"  placeholder="请输入日期" required >
  </div>
  
  <div class="form-group">
    <label for="sum">金额</label>
    <input type="text" class="form-control" name="sum" id="sum"  placeholder="请输入金额" required autofocus>
  </div>
  
  <div class="form-group">
    <label for="name">支付方式</label>
    <select class="form-control" name="pay_method" id="pay_method">
    <option value="0">现金</option>
    <option value="1">信用卡</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="intro">描述</label>
    <textarea class="form-control" id="intro" name="intro">
    </textarea>
  </div>
  <input type="hidden" name="act" value="insert"/>
  <input type="hidden" id ="date" name="date" value="" />
  <button type="submit" class="btn btn-primary">提交</button>
</form>

  {elseif $act == 'modify'}
  <h2>编辑分类</h2>
  <form action="cash.php" method="post" onsubmit="beforSubmit()">    
  <div class="form-group">
    <label for="type">类型</label>
    <select class="form-control" id="type" name="type" onchange="getCategory()">
      <option value="0" {if $record.type == 0}selected = "selected"{/if}>支出</option>
      <option value="1" {if $record.type == 1}selected = "selected"{/if}>收入</option>
    </select>
  </div>
  <div class="form-group">
    <label for="parent">支出分类</label>
    <select class="form-control" name="category" id="category">
    
    {foreach from=$categories item=cat}
        {foreach from=$cat item = itm}
            {if $itm.parent == 0}
                <option value="{$itm.cat_id}" {if $itm.cat_id == $record.id} selected="selected" {/if}>{$itm.cat_name}</option>
            {else}
                <option value="{$itm.cat_id}" {if $itm.cat_id == $record.id} selected="selected" {/if}>&nbsp;&nbsp;{$itm.cat_name}</option>
            {/if}
            
        {/foreach}
    {/foreach}
    </select>
  </div>
  
  <div class="form-group">
    <label for="name">日期</label>
    <input type="text" class="form-control" name="date_str" id="date_str"  placeholder="请输入日期" value={$record.date} required />
  </div>
  
  <div class="form-group">
    <label for="sum">金额</label>
    <input type="text" class="form-control" name="sum" id="sum"  placeholder="请输入金额"  value={$record.sum} required autofocus />
  </div>
  
  <div class="form-group">
    <label for="pay_method">支付方式</label>
    <select class="form-control" name="pay_method" id="pay_method">
    <option value="0" {if $record.pay_method == 0} selected="selected" {/if}>现金</option>
    <option value="1" {if $record.pay_method == 1} selected="selected" {/if}>信用卡</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="description">描述</label>
    <textarea class="form-control" id="description" name="intro">{$record.intro}
    </textarea>
  </div>
  <input type="hidden" name="act" value="update"/>
  <input type="hidden" name="id" value="{$record.id}"/>
  <input type="hidden" id="date" name="date" value="" />
  <button type="submit" class="btn btn-primary">提交</button>
</form>
  {/if}
  
</div>
</div>
</div>
    {include file="bottom.html"}
</body>

</html>