<!DOCTYPE html>
<html>
<head>
    <meta charset="gbk" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{$theme_root}/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="{$theme_root}/css/common.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>   
    <title>{$title}</title>
    {literal}
    <script type="text/javascript" >
    function toModify(id)
    {
    	window.location.href="category.php?act=modify&id=" + id;
    }
    function toDelete(id)
    {
    	if( confirm("是否真的要删除？(如果删除根分类会级联删除子分类)") )
    	{
    		window.location.href="category.php?act=delete&id=" + id;
    	}
    }
    </script>
    {/literal}
</head>
<body>
{include file="header.html"}
<div class="container">

    <h1 class="text-success">制定计划
    <a class="btn btn-success small" href="plan.php?act=add">新建计划</a>
    </h1>
    
    <table class="table small table-striped table-bordered table-hover table-condensed">
    <thead>
    <tr>
      <th scope="col" width="30%">分类名</th>
      <th scope="col" width="20%">本月已花费</th>
      <th scope="col" width="20%">上限</th>
      <th scope="col" width="30%">操作</th>
    </tr>
  </thead>
  <tbody>
    {if count($plans) == 0}
        <tr>
        <td colspan="4">
                        还没有制定计划哦
        <a class="btn btn-success" href="plan.php?act=add">新建计划</a>
        </td>
        </tr>
    {else}
    
    {foreach from=$plans item=planlist}
    <tr>
      <td>&nbsp;&nbsp;{$planlist.name}</th>
      <td>{if $planlist.total == null}0{else} {$planlist.total}{/if}</td>
      <td>{if $planlist.cost_limit == null} 0 {else} {$planlist.cost_limit}{/if}</td>
      <td>
      <button onclick=toModify({$planlist.cat_id}) class="btn btn-success btn-sm">编辑</button>
      <button onclick=toDelete({$planlist.cat_id}) class="btn btn-success btn-sm">删除</button>
      </td>
    </tr>
    {/foreach}
    {/if}
  </tbody>
</table>
   
    </div>
    
    {include file="bottom.html"}
</body>

</html>