.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin:50px auto 5px auto;
}

h2 {
	padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}